@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section{
    padding: 0 32px;

}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}


    /*NAVIGATION*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    color: #243e63;
}



.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--image {
width: 40px;
height: 40px; 
}

img{
    width: 100%;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}

.nav__link {
    text-decoration: none;
    font-weight: 600;
    color: #243e63;
    font-size: 16px;
    margin-left: 24px;
    margin-right: 24px;
}

.nav__link:hover {
    
    font-weight: 700;
    color: #6415ff;
    font-size: 16px;
    text-underline-offset: .5rem;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

.nav__links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.nav__link--primary{
  display: flex;
  background-color: #6415ff;
  color:white;
  border-radius: 2rem;
  height: 40px;
  width: 110px;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}

.login{
    margin: 0px 24px 0px 48px;
}

.sec1__email--section{
 margin: 64px;
 padding-top: 48px;


}